{{#each this}}
  <div class='country-wrapper'>
    <img class='country-flag' src={{flags.svg}} alt='flag' width='150' height='70' />
    <h1 class='country-name'>{{name.official}}</h1>
  </div>
  <ul class='country-container'>
    <li class='country-description'>Capital:{{capital}}</li>
    <li class='country-description'>Population:{{population}}</li>
    <li class='country-description'>Languages:
      {{#each languages}}
        {{#if @last}}
          <span class='country-language'>{{this}}</span>
        {{else}}
          <span class='country-language'>{{this}},</span>
        {{/if}}
      {{/each}}
    </li>
  </ul>
{{/each}}